<!-- _includes/projects.html -->
<div class="grid-sizer"></div>
<div class="grid-item">
  {% if project.redirect -%}
  <a href="{{ project.redirect }}">
    {%- else -%}
    <a href="{{ project.url | relative_url }}">
      {%- endif %}
      {%- if project.icon %}
          {%- include icon_card.html
              icon=project.icon
              color=project.color
              title=project.title
              description=project.description
              alt="project thumbnail" -%}
      {%- endif %}
    </a>
</div>